<div class="container">
	<h1>Nueva persona</h1>

	<form action="/persona/c" method="POST">
		<label for="idNombre">Nombre </label>
		<input id="idNombre" type="text" name="nombre" autofocus="autofocus" />
		<br />

		<label for="idPwd" >Contraseña </label>
		<input id="idPwd" type="password" name="pwd" />
		<br />
		
		<label for="idFnac" >Fecha de nac.</label>
		<input id="idFnac" type="date" name="fNac" />
		<br />
		
		
		<fieldset>
		<legend>
			País de nacimiento
		</legend>
		<select name="idPaisNace">
			<option th:each="pais:${paises}" th:text="${pais.nombre}" th:value="${pais.id}"/>
		</select>
		</fieldset>
		
		<fieldset>
		<legend>
			Aficiones (gustan)
		</legend>
			<div th:each="aficion:${aficiones}">
				<input  th:id="|id-${aficion.id}|" type="checkbox" name="idAficion[]" th:value="${aficion.id}"/>
				<label th:for="|id-${aficion.id}|" th:text="${aficion.nombre}"/>
			</div>
		</fieldset>		
		
		<input type="submit" value="Nueva persona" />
	</form>
	<br />
</div>