<div class="container">
	<div class="row">
		<form action="/persona/c">
			<input type="submit" value="Nueva persona" />
		</form>

		<form action="/">
			<input type="submit" value="Volver" />
		</form>
	</div>

	<h3>Lista de personas</h3>

	<table class="table table-striped">
		<tr>
			<th>
				Nombre
			</th>
			<th>
				País de nacimiento
			</th>
			<th>
				Aficiones
			</th>
			<th>
				Acciones
			</th>
			
		</tr>

		<tr th:each="persona:${personas} ">
			<td th:text="${persona.nombre}" />
			
			<td th:text="|${persona.nace.nombre} (${persona.nace.nativos.size()})|"/>
			
			<td>
				<th:block 
					th:each="aficion : ${persona.aficionesGusta}" 
					th:text="|${aficion.nombre} |"/>
			</td>
			
			<td>
				<form action="/persona/u">
					<button onclick="submit">
						<img src="/img/lapiz.png" height="20" width="20"/>
					</button>
					<input type="hidden" name="idPersona" th:value="${persona.id}"/>
				</form>
			</td>
		</tr>

	</table>
	<br />


</div>