<div class="container">
	<div class="row">
		<form action="/persona/c">
			<input type="submit" value="Nueva persona" />
		</form>

		<form action="/">
			<input type="submit" value="Volver" />
		</form>
	</div>

	<h3>Lista de personas</h3>

	<table class="table table-striped">
		<tr>
			<th>
				Nombre
			</th>
			<th>
				País de nacimiento
			</th>
		</tr>

		<tr th:each="persona:${personas} ">
			<td th:text="${persona.nombre}" />
			<td th:text="|${persona.nace.nombre} (${persona.nace.nativos.size()})|"/>
		</tr>

	</table>
	<br />


</div>