<div class="container">
	<h1>Editar persona</h1>

	<form action="/persona/u" method="POST">
		
		<input type="hidden" name="idPersona" th:value="${persona.id}"/>
	
		<label for="idNombre">Nombre </label>
		<input id="idNombre" type="text" name="nombre" th:value="${persona.nombre}" autofocus="autofocus" />
		<br />

		<fieldset>
		<legend>
			País de nacimiento
		</legend>
		<select name="idPaisNace">
			<option 
				th:each="pais:${paises}" 
				th:text="${pais.nombre}" 
				th:value="${pais.id}" 
				th:selected="${pais.id==persona.nace.id}"
			/>
		</select>
		</fieldset>
		
		<fieldset>
		<legend>
			Aficiones (gustan)
		</legend>
			<div th:each="aficion:${aficiones}">
				<input  
					th:id="|id-${aficion.id}|" 
					type="checkbox" 
					name="idAficion[]" 
					th:value="${aficion.id}" 
					th:checked="${persona.aficionesGusta.contains(aficion)}"
				/>
				<label th:for="|id-${aficion.id}|" th:text="${aficion.nombre}"/>
			</div>
		</fieldset>		
		
		<input type="submit" value="Guardar cambios" />
	</form>
	<br />
</div>