<nav class="container navbar navbar-expand-sm bg-dark navbar-dark rounded">

	<a class="navbar-brand" href="/">
		<img src="/img/home.jpg" alt="INICIO" style="width:40px;">
	</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
    	
    		<li class="nav-item dropdown">
    			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" role="button">
    				Acciones
    			</a>
    
    			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    				<a class="dropdown-item" href="/pais/r">País</a>
    				<a class="dropdown-item" href="/aficion/r">Afición</a>
    				<a class="dropdown-item" href="/persona/r">Persona</a>
    			</div>
    		</li>
    		
       </ul>
   </div>
</nav>

