<div class="container">
	<div class="row">
		<img src="/img/logo.png" height="70" width="100" />

		<h3>Escoge acción</h3>
	</div>

	<div class="row">
		<form action="/pais/r">
			<button><img src="/img/paises.png" width="150" height="100" /></button>
		</form>
		<br />

		<form action="/aficion/r">
			<button><img src="/img/aficiones.jpg" width="150" height="100" /></button>
		</form>
		<br />

		<form action="/persona/r">
			<button><img src="/img/personas.jpg" width="150" height="100" /></button>
		</form>

	</div>
</div>